<a href="https://colab.research.google.com/github/julianrojas19/julianrojas19.github.io/blob/main/Proyecto_2_Completo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install wooldridge
import wooldridge as wd

Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 5.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [ ]:
datos=wd.data("wage1")

In [ ]:
datos

      wage  educ  exper  tenure  ...  servocc     lwage  expersq  tenursq
0     3.10    11      2       0  ...        0  1.131402        4        0
1     3.24    12     22       2  ...        1  1.175573      484        4
2     3.00    11      2       0  ...        0  1.098612        4        0
3     6.00     8     44      28  ...        0  1.791759     1936      784
4     5.30    12      7       2  ...        0  1.667707       49        4
..     ...   ...    ...     ...  ...      ...       ...      ...      ...
521  15.00    16     14       2  ...        0  2.708050      196        4
522   2.27    10      2       0  ...        0  0.819780        4        0
523   4.67    15     13      18  ...        0  1.541159      169      324
524  11.56    16      5       1  ...        0  2.447551       25        1
525   3.50    14      5       4  ...        0  1.252763       25       16

[526 rows x 24 columns]

In [ ]:
class stat_descr:
  def __init__(self,datos):
    self.datos=list(datos)
  def promedio(self):
    return sum(self.datos)/len(self.datos)
  def mediana(self):
    mitad = len(self.datos) // 2
    self.datos.sort
    if not len(self.datos) % 2:
        return (self.datos[mitad - 1] + self.datos[mitad]) / 2.0
    return self.datos[mitad]
  def varianza(self):
    mean=sum(self.datos)/len(self.datos)
    return sum((i-mean)**2 for i in self.datos) / (len(self.datos )-1)
  def desviación(self):
    mean=sum(self.datos)/len(self.datos)
    var=sum((i-mean)**2 for i in self.datos) / (len(self.datos )-1)
    return (var)**0.5
  def coeficiente (self):
    mean=sum(self.datos)/len(self.datos)
    var=sum((i-mean)**2 for i in self.datos) / (len(self.datos )-1)
    desviacion=(var)**0.5
    return (desviacion / mean) *100

In [ ]:
datos1=stat_descr(datos["wage"])

In [ ]:
datos1.promedio()

5.896102674787035

In [ ]:
datos1.mediana()

3.274999976158142

In [ ]:
datos1.varianza()

13.638884363775011

In [ ]:
datos1.desviación()

3.693086021713414

In [ ]:
datos1.coeficiente()

62.63605343078268

In [ ]:
datos1=stat_descr(datos["educ"])

In [ ]:
datos1.promedio()

12.562737642585551

In [ ]:
datos1.mediana()

12.0

In [ ]:
datos1.varianza()

7.667485062466044

In [ ]:
datos1.desviación()

2.7690224019436975

In [ ]:
datos1.coeficiente()

22.041552412566357

In [ ]:
import statistics as st

In [ ]:
datos1.desviación()

2.7690224019436975

In [ ]:
st.stdev(datos['educ'])

2.769022401943699

In [ ]:
 datos1.varianza()

7.667485062466044

In [ ]:
st.variance(datos['educ'])

7.667485062466051